.interacao button{
    width: 400px;
    height: 70px;
    border-radius: 10px;
    border-color: Black;
    padding: 10px 30px 20px 10px;
    margin: 30px 10px 5px 150px;
}

.btn-diagonal1{transform: translateX(0px);}
.btn-diagonal2{transform: translateX(40px);}
.btn-diagonal3{transform: translateX(80px);}
.btn-diagonal4{transform: translateX(120px);}
.btn-diagonal5{transform: translateX(160px);}
.btn-diagonal6{transform: translateX(200px);}
.btn-diagonal7{transform: translateX(240px);}

.cabecalho_subtitulo{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    float: right;
    width: 600px;
    height: 300px;
    text-align: center;
    margin-right: 70px;

    
}
.cabecalho_subtitulo h1{
    border: 3px solid black;
    border-radius: 20px;
    float: right;
    width: 600px;
    height: 500px;
    text-align: center;
    
}

.cabecalho_subtitulo h3{
    border: 3px solid black;
    border-radius: 60px;
    float: right;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: auto;
}

.descricao p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* em vez de space-between / center */
  gap: 16px;
}