* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    
}

body {
    min-height: 100vh;
    background-color: #f5e8d2;
    color: #30252a;
}


/* =========================
   TELA PRINCIPAL
========================= */

.tela_principal {
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}


/* =========================
   LADO ESQUERDO
========================= */

.interacao_ladoEsquerdo {
    width: 42%;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    padding-bottom: 100px;
    position: relative;
    background:
        linear-gradient(
            60deg,
            #f1d9b5 0%,
            #f1d9b5 48%,
            #b7bb91 48%,
            #b7bb91 65%,
            #f5e8d2 65%
        );
}


.botoes {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;

}

.logo{
    width: 35vh;
    margin-top: -35px;
    margin-bottom: -15px;
    transform: translateX(var(--posicaoimg));
    --posicaoimg:180px
}

/* =========================
   BOTÕES
========================= */

.btn-estoque {
    width: 85%;
    min-height: 70px;

    margin-left: 35px;

    border: none;
    border-radius: 0 4px 4px 0;

    background-color: #5b4b4e;
    color: #f5e8d2;

    text-align: left;

    padding: 12px 25px;

    cursor: pointer;

    position: relative;

    transition: 
        transform 0.2s ease,
        background-color 0.2s ease,
        box-shadow 0.2s ease;
}


/* ponta do botão */

.btn-estoque::before {
    content: "";
    position: absolute;
    left: -38px;
    top: 0;
    width: 38px;
    height: 100%;

    background: #5b4b4e;

    clip-path: polygon(
        100% 0,
        0 0,
        55% 50%,
        0 100%,
        100% 100%
    );

    z-index: 0;
}

.btn-estoque::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 100%;

    background: #493c3f;
    z-index: 0;
}

/* escadinha dos botoes */
.botoes .btn-estoque:nth-child(1) {
    --posicao: 0px;}

.botoes .btn-estoque:nth-child(2) {
    --posicao: 40px;}

.botoes .btn-estoque:nth-child(3) {
    --posicao: 80px;}

.botoes .btn-estoque:nth-child(4) {
    --posicao: 120px;}

.botoes .btn-estoque:nth-child(5) {
    --posicao: 160px;}

.botoes .btn-estoque:nth-child(6) {
    --posicao: 200px;}

.botoes .btn-estoque:nth-child(7) {
    --posicao: 240px;}

.botoes .btn-estoque:nth-child(8) {
    --posicao: 280px;}

.botoes .btn-estoque:nth-child(9) {
    --posicao: 320px;}

.botoes .btn-estoque:nth-child(10) {
    --posicao: 360px;}
/* título */

.btn-estoque {
    cursor: pointer;
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;

    /* hover do botão */
    transition:
        transform 0.2s ease,
        background-color 0.2s ease,
        box-shadow 0.2s ease;
    transform: translateX(var(--posicao));

}


/* =========================
   TEXTOS
========================= */

.btn-estoque .titulo,
.btn-estoque .descricao {
    position: absolute;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s ease;
    z-index: 1;
}


/* título */

.btn-estoque .titulo {
    opacity: 1;
    transform: translateY(0);
    font-weight: bold;
    font-size: 16px;
}


/* descrição */

.btn-estoque .descricao {
    opacity: 0;
    transform: translateY(30px);
}


/* =========================
   HOVER DOS TEXTOS
========================= */

.btn-estoque:hover .titulo {
    opacity: 0;
    transform: translateY(-30px);
}

.btn-estoque:hover .descricao {
    opacity: 1;
    transform: translateY(0);
}


/* =========================
   HOVER DO BOTÃO
========================= */

.btn-estoque:hover {
    background-color: #493c3f;
    transform: translateX(8px);
    box-shadow: 5px 5px 0 rgba(73, 60, 63, 0.15);
    background-color: #493c3f;
    transform: translateX(calc(var(--posicao) + 8px));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }


/* =========================
   LADO DIREITO
========================= */

.ladoDireito {
    width: 58%;
    min-height: 100vh;
    padding: 55px 65px;
    position: relative;
}

.descricao1 img{
    width: 400px;
    height: 400px;
}

/* =========================
   CABEÇALHO
========================= */

.cabecalho_subtitulo {
    width: 90%;
    min-height: 120px;
    margin-left: auto;
    background-color: #123d2d;
    border-radius: 10px 0 0 10px;
    padding: 25px 50px;
    color: #f5e8d2;
    position: relative;
}

.cabecalho_subtitulo img{
    width: 57px;
    position: absolute;
    object-fit: contain;
    right: 20px;
    top: 10px;
    z-index: 1;
    border-radius: 100%;
}
.cabecalho_subtitulo h1 {
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cabecalho_subtitulo h1::after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background-color: #d8d8c0;
    margin-top: 10px;
}

.cabecalho_subtitulo h3 {
    position: absolute;
    left: 20px;
    top: 95px;
    width: 90%;
    padding: 12px 30px;
    background-color: #bdb0b1;
    color: #211c1d;
    border-radius: 15px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
}

.descricao1 {
    width: 80%;
    margin: 100px auto 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao1 p {
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
    color: #493c3f;
}

@media (max-width: 900px) {

    .tela_principal {
        flex-direction: column;
    }

    .interacao_ladoEsquerdo,
    .ladoDireito {
        width: 100%;
    }

    .interacao_ladoEsquerdo {
        min-height: auto;
        padding: 50px 20px;
    }

    .botoes {
        width: 90%;
    }

    .ladoDireito {
        padding: 40px 25px;
    }

    .cabecalho_subtitulo {
        width: 100%;
    }
}


@media (max-width: 550px) {

    .btn-estoque {
        width: 90%;
        margin-left: 25px;
    }

    .btn-estoque::before {
        left: -25px;

        border-top-width: 30px;
        border-bottom-width: 30px;
        border-right-width: 25px;
    }

    .cabecalho_subtitulo {
        padding: 20px;
    }

    .cabecalho_subtitulo h1 {
        font-size: 19px;
        letter-spacing: 4px;
    }

    .cabecalho_subtitulo h3 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .descricao1 {
        width: 100%;
    }
}

/* "gramado" e linhas verdes
============ */

.gramado {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19%;
    background-color: #8da574;
    z-index: 0;
}

.linhas {
    position:absolute;
    inset: 0;
    pointer-events: none;
    z-index: 10;
}

.linha {
    position: absolute;
    height: 20px;
    background-color: #8da574;
    border-radius: 3px;
}

.linha1 {
    width: 575px;
    left: 7%;
    bottom: 7%;
    box-shadow:5px 5px 3px rgba(0, 0, 0, 0.2);;
}

.linha2 {
    width: 650px;
    height: 30px;
    left: 4%;
    bottom: 1%;
    box-shadow:5px 5px 3px rgba(0, 0, 0, 0.2);;
}